body{
    background-color: gray;
}
.head{
    border-radius: 20px;
    border: 8px solid red;
    width: 400px;
    height: 100px;
    background-color: white;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin-left: 400px;
    margin-top: 10p;
    padding-top: 15px;  
    color:#5B2C6F;
    box-shadow: 8px 8px 0px #5B2C6F ;
    text-shadow: 2px 1px #5B2C6F ;
      
}



.flex{
    border: 8px solid green;
    display: flex;
  
    height: 650px;
    width: 100%;
}
.box{
    width: 220px;
    height: 250px;
    border: 8px solid red;
    background-color: white;
    color:#5B2C6F;
    box-shadow: 8px 8px 0px #5B2C6F ;
    font-style:inherit;
    border-radius: 10px;
    text-shadow: 2px 0px #5B2C6F ;
    
}
.box1{
    left: 80%;
    position: absolute;
    text-align: center;
    padding-top: 20px;
}

.box2{
    position: absolute;
    top: 500px;
    font-weight: bolder;
     font-size: 25px;
}
.box3{
    position: absolute;
    left: 80%;
    top: 500px;
    text-align: center;

}
.box4{
    font-weight: bolder;
     text-align: center;
    font-size: 25px;
    padding-top: 20px;
    line-height: 50px;
}
.button{
    border-radius: 10px;
    background-color: red;
    color: black;
  }

  .st{
    position: fixed;
    border: 5px solid red;
    width: 500px;
    height: 70px;
    border-radius: 20px;
    text-align: center;
    padding-top: 20px;
    font-size: larger;
    font-weight: bold;
    z-index: 1;
    left: 400px;
    top: 430px;
    font-style: italic;
    color: red;
    background-color: #60b908;
  
  }
  .b{
     display:inline-block;
  }
  .b1{
    font-size: x-large;
  }
  .b2{
    font;
    padding-left: 30px;
  }

  .flex1{
    position: absolute;
    display: flex;
    border: 8px solid #8E44AD;
    width: 55%;
    height: 600px;
    left: 378px;
    top: 900px;
    background-color: green;

  }
  .p{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    font-size: 25px;
    padding-left: 280px;
  }
  .p1{
    font-size: 20px;
    font-weight: bold;
  }

  .fruit{
    position: absolute;
    border: 2px solid black;
    width: 360px;
    height: 250px;
    top: 50px;
    background-color:burlywood;
    text-align: center;
    font-style: italic;
    font-size: 15px;
    line-height: 30px;

  }
  .vegetable{
    position: absolute;
    border: 2px solid black;
    width: 355px;
    height: 250px;
    top: 50px;
    left: 425px;
    background-color:burlywood;
    text-align: center;
    font-style: italic;
    font-size: 15px;
    line-height: 30px;
  }

  .other{
    position: absolute;
    border: 2px solid black;
    width: 750px;
    height: 260px;
    top: 320px;
    background-color:burlywood;
    text-align: center;
    font-style: italic;
    font-size: 15px;
    line-height: 30px;
  }
